@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;
}

.logo {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}
a {
  text-decoration: none;
}
.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  color: #edf0f1;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 16px;
  color: #edf0f1;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 40px;
}
.main p {
  color: #fff;
  padding: 20px 15%;
  font-size: 30px;
  text-align: center;
}
